---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% for category in site.publication_category %}
  {% assign papers = site.publications | where: 'category', category[0] | sort: 'date' | reverse %}
  {% if papers.size > 0 %}
    <h2>{{ category[1].title | escape }}</h2><hr />
    {% for post in papers %}
      {% include archive-single-publication.html %}
    {% endfor %}
  {% endif %}
{% endfor %}
